/**** PAGE HEADER ****/
header {
    display: flex;
    height: auto;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.header-container {
    margin: 20vh auto auto;
}

header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    height: auto;
    width: auto;
    background-color: rgba(45, 36, 45, 0.2);
}

.header-highlight {
    color: #f57600;
}

.main-navbar a {
    color: #fff;
    font-size: 36px;
    padding: 20px;
}

.main-navbar a:not(.main-navbar a:nth-child(1)) {
    border-left: 2px solid #fff;
}

.header-container p {
    text-align: center;
    font-size: 32px;
    line-height: 1.25em;
    color: #f57600;
}

header p {
    font-size: 22px;
    font-weight: 300;
    padding: 0 20px;
}


/**** BACKGROUNDS ****/
.home header {
    background: url("../media/home-background.jpg") no-repeat center/cover;
}

.privacy header, .terms header {
    background: url("../media/privacy-background.jpg") no-repeat center/cover;
}



/**** DESKTOP VIEW ****/
@media screen and (min-width: 861px) {
    .header-container {
        max-width: 1200px;
    }

    #header-hamburger {
        display: none;   
    }
}



/**** MOBILE VIEW ****/
@media screen and (max-width: 860px) {
    .header-container h1 {
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        padding: 20px;
    }
    
    .header-container p {
        padding: 0 20px;
    }
}

