.main-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}
.main-nav * {
  box-sizing: border-box;
}
.main-nav .nav-content, .main-nav .tuggle-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.main-nav .nav-content .left-content, .main-nav .tuggle-content .left-content,
.main-nav .nav-content .right-content,
.main-nav .tuggle-content .right-content {
  z-index: 10;
}
.main-nav .left-content,
.main-nav .right-content {
  display: flex;
}
.main-nav .nav-item {
  margin-right: 20px;
}
.main-nav .right-content .nav-item:last-child {
  margin-right: 0;
}
.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav li  {
  
}
.main-nav .tuggle-btn {
  display: none;
  position: relative;
  width: 35px;
  height: 24px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.main-nav .tuggle-btn span {
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 5px;
  opacity: 1;
  transition: 0.25s ease-in-out;
}
.main-nav .tuggle-btn span:nth-child(1) {
  top: 0px;
}
.main-nav .tuggle-btn span:nth-child(2), .main-nav .tuggle-btn span:nth-child(3) {
  top: 11px;
}
.main-nav .tuggle-btn span:nth-child(4) {
  top: 22px;
}
.main-nav .tuggle-content {
  position: absolute;
  top: 0;
  width: 100%;
}
.main-nav.open .tuggle-btn span:nth-child(1),
.main-nav.open .tuggle-btn span:nth-child(4) {
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}
.main-nav.open .tuggle-btn span:nth-child(2) {
  transform: rotate(45deg);
}
.main-nav.open .tuggle-btn span:nth-child(3) {
  transform: rotate(-45deg);
}
.main-nav.active {
  position: fixed;
  background-color: #fff;
}
.main-nav ul {
  text-transform: uppercase;
}
.main-nav li {
  display: flex;
  align-items: center;
}
.main-nav a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #f57600;
  text-decoration: none;
}
.main-nav.open a {
  color: #fff;
}
.main-nav a:hover {
  text-decoration: underline;
}
.main-nav .tuggle-btn {
  margin: auto;
  margin-rigth: 10px;
}
.main-nav .tuggle-btn span {
  background: #f57600;
}
.main-nav.open .tuggle-btn span {
  background: #fff;
}
.main-nav.open.active .tuggle-btn span {
  background: #333;
}
.main-nav .logo {
  background: url("../media/maina-logo1-orange.svg") no-repeat center/cover;
  display: block;
  width: 55px;
  height: 40px;
}
.main-nav.open .logo {
  background: url("../media/maina-logo1-white.svg") no-repeat center/cover;
}
.main-nav.active .logo {
  background: url("../media/maina-logo1.svg") no-repeat center/cover;
}
.main-nav .registration {
  position: relative;
  padding: 10px 40px 10px 20px;
  border: 2px solid #f5760052;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.main-nav.open .registration {
  border: 2px solid #ffffff52;
}
.main-nav .registration:after {
  position: absolute;
  right: 15px;
  top: 9px;
  content: "→";
  color: #f57600;
}
.main-nav.open .registration:after {
  color: #fff;
}
.main-nav .registration:hover, .main-nav .registration:focus {
  border-color: #f57600;
  text-decoration: none;
}
.main-nav.open {
  background-color: rgba(0, 0, 0, 0.75);
}
.main-nav.open .tuggle-content {
  box-shadow: 0px 5px 12px -8px #000;
}
.main-nav.active {
  background-color: #fff;
  box-shadow: 0px 0px 7px -2px #000;
}
.main-nav.active a {
  color: #333;
}
.main-nav.active span {
  background: #333;
}
.main-nav.active .registration {
  border-color: #f57600;
  background-color: #f57600;
  color: #fff;
}
.main-nav.active .registration:after {
  color: #fff;
}
.main-nav.active .registration:hover {
  border-color: #f57600;
  background-color: #f57600;
}
.nav-link.active {
  text-decoration: underline;
}


/********* DESKTOP VIEW ********/
@media (min-width: 861px) {
  .main-nav .tuggle-content {
    height: 100%;
    padding-left: 90px;
  }
  .main-nav ul {
    display: inline-flex;
  }
}


/********* MOBILE VIEW ********/
@media (max-width: 860px) {
  .main-nav .tuggle-content {
    padding-right: 90px;  
    padding-left: 30px;
    flex-direction: column;
    visibility: hidden;
  }
  .main-nav .tuggle-content .nav-item {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
    margin-right: 0;
  }
  .main-nav .tuggle-content .nav-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  .main-nav.open .tuggle-content {
    top: 100%;
    visibility: initial;
    background-color: #fff;
  }
  .main-nav.open .tuggle-content {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.active .tuggle-content {
    background-color: #fff;
  }
  .main-nav .left-content {
    flex-direction: row-reverse;
  }
  .main-nav .tuggle-btn {
    display: block;
  }
  .main-nav .tuggle-content .left-content,
  .main-nav .tuggle-content .right-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .main-nav .tuggle-content .right-content {
    border-top: 1px solid #c1c1c1;
    padding-top: 20px;
  }
  .main-nav .right-content .nav-item:first-child {
    display: none;
  }
}
