/**** MAIN BODY ****/
html,
body {
    height: 100%;
    width: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.full-width {
    width: 100vw;
    padding: 360px 0;
}
.content-container {
    width: auto;
    margin: auto;
}
.section-one {
    background-color: rgb(130, 183, 226);
}
.section-two {
    background-color: rgb(252, 250, 122);
}
.section-three {
    background-color: rgb(213, 157, 250);
}
.section-four {
    background-color: rgb(250, 146, 189);
}


/**** PAGE HEADINGS ****/
.page-heading h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: antiquewhite;
}
.page-heading h1 .highlight {
    color: rgb(245, 118, 0);
}


/**** MAIN BEVIOUR CLASSES ****/
.visible {
    display: block;
}
.hidden {
    display: none;
}


/********* DESKTOP VIEW ********/
@media screen and (min-width: 861px) {
    .content-container {
        max-width: 1200px;
    }
}



/********* MOBILE VIEW ********/
@media screen and (max-width: 860px) {
    .full-width {
        padding: 280px 0;
    }
    .content-container {
        padding: 0 20px;
    }
}
